body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.main-content {
  grid-column: 2 / 3;
  background-color: #d3d3d3;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: #3c8deb;
}