body {
  margin: 0;
  padding: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  background-color: #ffffff;
  filter: drop-shadow(1px 2px 2px #00000025);
}

.search-bar-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 32px; 
}

.search-bar {
  background-color: #dae7ed;
  border-style: none;
  border-radius: 16px;
  flex: 1;
  height: 32px;
  max-width: 750px;
  padding: 0 10px;
  font-size: 1rem;
  outline-style: none;
}

.search-bar:focus {
  filter: drop-shadow(0 0 1.5px black);
  border: 2px solid #3c8deb;
}

.profile-small {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.display-name {
  font-weight: 900;
}

.profile-large {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  padding-left: 32px;
  gap: 8px;
}

.greeting {
  font-weight: 900;
}

.full-display-name {
  font-size: 32px;
}

.user-button-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.user-button {
  background-color: #3c8deb;
  border-radius: 16px;
  border-style: none;
  flex: 1;
  max-width: 75px;
  padding: 10px 16px;
  color: #ffffff;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #3780d4;
}

.nav-button:active {
  background-color: #2e6bb2;
}


.main-content {
  grid-column: 2 / 3;
  background-color: #dae7ed;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: #3c8deb;
}

.brand-container {
  padding: 0;
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  font-weight: 900;
  color: #ffffff;
}

.nav-menu {
  list-style: none;
  padding: 0;
  padding-left: 24px;
}

.nav-menu-item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
  margin-bottom: 16px;
}

#communities-item {
  margin-bottom: 48px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 900;
}

.nav-icon,
.brand-logo {
  filter: invert();
}

.main-content {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  grid-template-rows: 1.2fr 1fr;
  gap: 32px;
  font-size: 22px;
  font-weight: 900;
  padding: 48px 48px 48px 16px;
}

.projects {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.announcements {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.trending {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-card-container {
  margin-top: 16px;
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.project-card {
  background-color: #ffffff;
  padding: 24px 0 24px 24px;
  border-radius: 8px;
  border-left: 8px solid #fec507;
  filter: drop-shadow(1px 2px 2px #00000025);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  font-weight: 900;
  font-size: 18px;
}

.project-card p {
  font-weight: normal;
  font-size: 14px;
  color: #808080;
  margin: 0;
  padding-right: 32px;
}

.project-buttons {
  display: flex;
  gap: 32px;
  justify-content: right;
  padding-right: 32px;
}

.card {
  margin-top: 16px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px 32px;
  filter: drop-shadow(1px 2px 2px #00000025);
}

.announcement-title {
  font-weight: 900;
  font-size: 16px;
}

.card p {
  font-weight: normal;
  font-size: 12px;
  color: #808080;
  margin: 0; 
}

.announcement {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #cecece;
}

#last-announcement {
  border: 0;
}

.other-user-project {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.other-user-info span {
  font-weight: 900;
  font-size: 16px;
}

.other-user-info p {
  font-weight: normal;
  font-size: 14px;
  color: #808080;
}